http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/search?q=memory&limit=30&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"count":493,"returned":30,"data":[{"package":"tidyft","date_updated":"2020-04-20T15:03:30.000Z","summary":{"any":true,"ok":9,"note":0,"warn":2,"error":0,"fail":0},"checks":[{"flavor":"r-devel-linux-x86_64-debian-clang","version":"0.4.5","tinstall":5.06,"tcheck":54.1,"ttotal":59.16,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/tidyft-00check.html"},{"flavor":"r-devel-linux-x86_64-debian-gcc","version":"0.4.5","tinstall":3.8,"tcheck":48.93,"ttotal":52.73,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-gcc/tidyft-00check.html"},{"flavor":"r-devel-linux-x86_64-fedora-clang","version":"0.4.5","tinstall":0.0,"tcheck":0.0,"ttotal":67.29,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r[...]
