http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/search?q=memory&package=apsimr&one_each=FALSE&limit=30&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"count":3,"returned":3,"data":[{"package":"apsimr","date_updated":"2020-04-20T15:03:30.000Z","summary":{"any":true,"ok":12,"note":0,"warn":1,"error":0,"fail":0},"checks":[{"flavor":"r-devel-linux-x86_64-debian-clang","version":"1.2","tinstall":10.7,"tcheck":99.81,"ttotal":110.51,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/apsimr-00check.html"},{"flavor":"r-devel-linux-x86_64-debian-gcc","version":"1.2","tinstall":9.03,"tcheck":76.48,"ttotal":85.51,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-gcc/apsimr-00check.html"},{"flavor":"r-devel-linux-x86_64-fedora-clang","version":"1.2","tinstall":0.0,"tcheck":0.0,"ttotal":134.22,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-d[...]
