http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/pkgs?limit=10&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 'Bearer '
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"found":16505,"count":10,"offset":0,"error":null,"data":[{"_id":"localIV","package":"localIV","url":"https://cloud.r-project.org/web/checks/check_results_localIV.html","summary":{"any":false,"ok":12,"note":0,"warn":0,"error":0,"fail":0},"checks":[{"flavor":"r-devel-linux-x86_64-debian-clang","version":"0.3.0","tinstall":2.65,"tcheck":42.61,"ttotal":45.26,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/localIV-00check.html"},{"flavor":"r-devel-linux-x86_64-debian-gcc","version":"0.3.0","tinstall":2.31,"tcheck":34.05,"ttotal":36.36,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-gcc/localIV-00check.html"},{"flavor":"r-devel-linux-x86_64-fedora-clang","version":"0.3.0","tinstall":0.0,"tcheck":0.0,"ttotal":54.85,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.chec[...]
