http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/maintainers?limit=10&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 'Bearer '
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"found":9411,"count":10,"offset":0,"error":null,"data":[{"_id":"f.briatte_at_gmail.com","email":"f.briatte_at_gmail.com","name":"François Briatte","url":"https://cloud.r-project.org/web/checks/check_results_f.briatte_at_gmail.com.html","table":[{"package":"ggnetwork","any":true,"ok":7,"note":5,"warn":0,"error":0}],"packages":[{"package":"ggnetwork","url":"https://cloud.r-project.org/web/checks/check_results_ggnetwork.html","check_result":[{"category":"NOTE","number_checks":5},{"category":"OK","number_checks":7}],"version":null}],"date_updated":"2020-05-11T20:00:50.651Z"},{"_id":"hyasrebi_at_yahoo.com","email":"hyasrebi_at_yahoo.com","name":"Haleh Yasrebi","url":"https://cloud.r-project.org/web/checks/check_results_hyasrebi_at_yahoo.com.html","table":[{"package":"survJamda","any":false,"ok":12,"note":0,"warn":0,"error":0},{"package":"survJamda.data","any":true,"ok":5,"note":7,"warn":0,"error":0}],"packages":[{"package":"survJamda","url":"https://cloud.r-project.org/web/checks/check_results_survJamda.html","check_result":[{"category":"O[...]
