http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/pkgs/worrms?limit=10&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 'Bearer '
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":{"_id":"worrms","package":"worrms","url":"https://cloud.r-project.org/web/checks/check_results_worrms.html","summary":{"any":false,"ok":12,"note":0,"warn":0,"error":0,"fail":0},"checks":[{"flavor":"r-devel-linux-x86_64-debian-clang","version":"0.4.0","tinstall":2.86,"tcheck":36.05,"ttotal":38.91,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/worrms-00check.html"},{"flavor":"r-devel-linux-x86_64-debian-gcc","version":"0.4.0","tinstall":2.05,"tcheck":28.85,"ttotal":30.9,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-gcc/worrms-00check.html"},{"flavor":"r-devel-linux-x86_64-fedora-clang","version":"0.4.0","tinstall":0.0,"tcheck":0.0,"ttotal":48.89,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r[...]
