http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/maintainers/csardi.gabor_at_gmail.com?limit=10&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 'Bearer '
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":{"_id":"csardi.gabor_at_gmail.com","email":"csardi.gabor_at_gmail.com","name":"Gábor Csárdi","url":"https://cloud.r-project.org/web/checks/check_results_csardi.gabor_at_gmail.com.html","table":[{"package":"asciicast","any":false,"ok":12,"note":0,"warn":0,"error":0},{"package":"callr","any":false,"ok":12,"note":0,"warn":0,"error":0},{"package":"cleancall","any":false,"ok":12,"note":0,"warn":0,"error":0},{"package":"cli","any":true,"ok":11,"note":0,"warn":1,"error":0},{"package":"cliapp","any":false,"ok":12,"note":0,"warn":0,"error":0},{"package":"clisymbols","any":false,"ok":12,"note":0,"warn":0,"error":0},{"package":"cranlike","any":false,"ok":12,"note":0,"warn":0,"error":0},{"package":"cranlogs","any":false,"ok":12,"note":0,"warn":0,"error":0[...]
