http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/history/2030-05-22
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      x-amz-request-id: 509F1E592412A8B3
      content-type: application/xml
    body:
      encoding: UTF-8
      file: no
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>2030-05-22.json.gz</Key><RequestId>509F1E592412A8B3</RequestId><HostId>Xb4AN1IyjZBfi+Q0CigSg2XqvshHwXoBrlk/ej2tdpYWyVjxB/XwG67eRWGHva5sTj/xfBj2sDI=</HostId></Error>
  recorded_at: 2020-05-22 17:17:08 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
