http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/pkgs?limit=foo&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 'Bearer '
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: 'HTTP/2 400 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"count":0,"error":{"message":"limit is not an integer"},"data":null}'
  recorded_at: 2020-05-05 21:45:01 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://cranchecks.info/pkgs?limit=10&offset=bar
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 'Bearer '
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: 'HTTP/2 400 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"count":0,"error":{"message":"offset is not an integer"},"data":null}'
  recorded_at: 2020-05-05 21:45:01 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://cranchecks.info/pkgs/aaaaaaaaaaa?limit=10&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 'Bearer '
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: 'HTTP/2 400 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":{"message":"no results found"},"data":null}'
  recorded_at: 2020-05-05 21:45:01 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
