http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/pkgs/worrms/history?limit=30&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":{"package":"worrms","history":[{"date_updated":"2020-05-19T15:03:12.000Z","summary":{"any":false,"ok":12,"note":0,"warn":0,"error":0,"fail":0},"checks":[{"flavor":"r-devel-linux-x86_64-debian-clang","version":"0.4.0","tinstall":3.0,"tcheck":35.7,"ttotal":38.7,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/worrms-00check.html"},{"flavor":"r-devel-linux-x86_64-debian-gcc","version":"0.4.0","tinstall":2.26,"tcheck":28.56,"ttotal":30.82,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-gcc/worrms-00check.html"},{"flavor":"r-devel-linux-x86_64-fedora-clang","version":"0.4.0","tinstall":0.0,"tcheck":0.0,"ttotal":49.47,"status":"OK","check_url":"https://www.R-project.org/nosvn/R.check/[...]
