http_interactions:
- request:
    method: post
    uri: https://cranchecks.info/notifications/rules
    body:
      encoding: ''
      string: '[{"package":"bubbles","status":"note","platforms":3}]'
    headers:
      Authorization: Bearer <<cchecks_api_token>>
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":[{"id":279,"already_existed":true,"rule":"package:bubbles,
        status:note, flavor:3, time:, regex:"}]}'
  recorded_at: 2020-05-22 20:56:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://cranchecks.info/notifications/rules?package=bubbles
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<cchecks_api_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":[{"id":279,"package":"bubbles","rule_status":"note","rule_time":null,"rule_platforms":"3","rule_regex":null}]}'
  recorded_at: 2020-05-22 20:56:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
