http_interactions:
- request:
    method: post
    uri: https://cranchecks.info/notifications/rules
    body:
      encoding: ''
      string: '[{"package":"testing123","status":"warn","platforms":2}]'
    headers:
      Authorization: Bearer <<cchecks_api_token>>
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":[{"id":282,"already_existed":false,"rule":"package:testing123,
        status:warn, flavor:2, time:, regex:"}]}'
  recorded_at: 2020-05-22 20:56:34 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://cranchecks.info/notifications/rules
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<cchecks_api_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":[{"id":242,"package":"rgbif","rule_status":"note","rule_time":null,"rule_platforms":null,"rule_regex":null},{"id":279,"package":"bubbles","rule_status":"note","rule_time":null,"rule_platforms":"3","rule_regex":null},{"id":280,"package":"testing456","rule_status":"warn","rule_time":null,"rule_platforms":null,"rule_regex":null},{"id":281,"package":"testing456","rule_status":"error","rule_time":4,"rule_platforms":null,"rule_regex":null},{"id":282,"package":"testing123","rule_status":"warn","rule_time":null,"rule_platforms":"2","rule_regex":null}]}'
  recorded_at: 2020-05-22 20:56:34 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
