http_interactions:
- request:
    method: post
    uri: https://cranchecks.info/notifications/rules
    body:
      encoding: ''
      string: '[{"package":"testing456","status":"warn"},{"package":"testing456","status":"error","time":4}]'
    headers:
      Authorization: Bearer <<cchecks_api_token>>
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":"success"}'
  recorded_at: 2020-05-11 23:16:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2.92
- request:
    method: get
    uri: https://cranchecks.info/notifications/rules
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<cchecks_api_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":[{"id":116,"package":"testing456","rule_status":"warn","rule_time":null,"rule_platforms":null,"rule_regex":null},{"id":117,"package":"testing456","rule_status":"error","rule_time":4,"rule_platforms":null,"rule_regex":null}]}'
  recorded_at: 2020-05-11 23:16:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2.92
