http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/notifications/rules/578999
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<cchecks_api_token>>
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: 'HTTP/2 400 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"error":{"message":"rule 578999 not found"},"data":null}'
  recorded_at: 2020-05-19 21:00:14 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
