http_interactions:
- request:
    method: get
    uri: https://cranchecks.info/notifications/rules?package=honeybadger
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<cchecks_api_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":[{"id":247,"package":"honeybadger","rule_status":"warn","rule_time":6,"rule_platforms":null,"rule_regex":null}]}'
  recorded_at: 2020-05-19 21:00:15 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://cranchecks.info/notifications/rules/247
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<cchecks_api_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":{"id":247,"package":"honeybadger","rule_status":"warn","rule_time":6,"rule_platforms":null,"rule_regex":null}}'
  recorded_at: 2020-05-19 21:00:15 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
