http_interactions:
- request:
    method: post
    uri: https://cranchecks.info/notifications/rules
    body:
      encoding: ''
      string: '[{"package":"wombat","status":"note"}]'
    headers:
      Authorization: Bearer <<cchecks_api_token>>
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf8
    body:
      encoding: UTF-8
      file: no
      string: '{"error":null,"data":"success"}'
  recorded_at: 2020-05-05 21:24:46 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
